body{
    background-color: #fc71a6;
    color:whitesmoke;
}
.Titulo1 {
    color: #dfd9d2;
}
.Titulo4 {
    color: #dfd9d2;
}
Header {
    background-color: #fe036a;
    color: whitesmoke;
}
footer {
    background-color: #fdd9e5;
    color: whitesmoke;
}